@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div#banner {
background-color: #000;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
}

header {
    display: flex;
}

.container {
    width: 998px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#navegacao {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 100px;
}

nav ul{
    display: flex;
}

nav ul, 
nav li{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li a {
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 15px;
    margin-left: 10px;
}

nav li a:hover{
    background-color: #fff;
    color: #000;
}

.title-principal {
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;
    color: #fff;
}

.first-name {
    font-size: 72px;

}

.last-name {
    font-size: 50px;
}

.first-name,
.last-name {
    
    text-shadow: 2px 1px 2px rgb(94, 94, 94);
}

.descricao {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 15px;
    font-size: 13px;
}

.botao-guia {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.botao-guia a {
    display: inline-block;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    width: 80px;
    border: 1px solid #fff;
    color: #fff;
    text-decoration: none;
    margin-bottom: 5px;
}

.botao-guia a:hover{
    background-color: #fff;
    color: #000;
}

section#pensament{
    background-color: rgba(185, 185, 185, 0.356);
    height: 50vh;
    display: flex;
    justify-content: center;
}

.row{
    flex-direction: row;
}

.corp-text-pensament{
    flex: 1;
    display: flex;
    align-items: center;
    font-family: 'Great Vibes', sans-serif;
    font-size: 45px;
    text-align: center;
}

.text-pensament cite{
    font-size: 27px;
}

.corp-img-pensament{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: end;
}

figure img {
    width: 300px;
    box-shadow: 2px 3px 2px #5c5c5c;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-about,
.table-about{
    display: flex;
    justify-content: center;
    flex: 1;
    margin: 10px 10px;
}


.img-about img{
    width: 350px;
    box-shadow: 2px 3px 2px #5c5c5c;
}

.info {
    display: flex;
    justify-content: end;
}

.info a {
    display: inline-block;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin-bottom: 5px;
}

.info a:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}


